*{
    margin: 0;
    padding: 0;
}

html{
     scroll-behavior: smooth;
    }
body{
    background-color: #d9d9e8
}
.header{
    min-height: 100vh;
    width: 100%;
    background: #131417;
    position: relative;
}
.navbar{
    display: flex;
    padding: 20px 50px;
    align-items: center;
    background:rgb(100, 100, 171);
}
nav{
    flex: 1;
    text-align: right;
}
.logo img{
    transition: 0.8s ease-in-out;
    margin-top: 4px;
    cursor: pointer;
}
.logo img:hover{
    transform: scale(1.12) rotate(360deg);
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    border: 1px solid black;
    padding: 7px 22px;
    margin: 10px 15px;
    box-shadow: 4px 4px 5.5px #131417;
    transition: 0.3s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    font-size: 15.5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
nav ul li:hover a{
    color: #ffffff;
}
nav ul li:hover{
    background: black;
    border: 1px solid black;
    transform: translate(-6px,-6px);
}

  .about1{
    width: 90%;
    height: 15vh;
    margin: auto;
    background-color: #2a2a2c;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #308d46;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: center;
    font-size: 60px;
    padding-top: 0%;
    padding-left: 1vw;
    border-left: 0.3rem solid #308d46;
}

hr{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    border: 1.5px solid #308d46;
    border-radius: 1em;
}

#social_media{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    color: #ffffff;
    margin-top: 2rem;
    font-weight: 500;
}
    .social_media2{
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    border-left: 0.3rem solid #308d46;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    background-color: #2a2a2c;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .insta{
        width: 25%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(230, 67, 102);
        border-radius: 0.5vw;
    }
    .linkedin{
        width: 25%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(22, 58, 100);
        border-radius: 0.5vw;
    }

    .insta:hover{
        opacity: 0.7;
    }
    .linkedin:hover{
        opacity: 0.7;
    }
    
    .insta_img {
        width: 10vw;
        height: 20vh;
    }
    
    .linkedin_img {
        width: 10vw;
        height: 20vh;
        
    }
    #youtube{
        margin-top: 2vh;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        color: #ffffff;
        margin-top: 2rem;
        font-weight: 500;
    }
    .youtube2{
        width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    border-left: 0.3rem solid #308d46;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    background-color: #2a2a2c;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .youtube3
    {
        width: 30%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: darkred;
        border-radius: 0.5vw;
    }
    .youtube_img{
        width: 100%;
        height: 100%;
    }
    .youtube3:hover{
        opacity: 0.7;
    }
    .footer1 {
        background-color: #308d46;
        color: white;
        height: 10vh;
        margin: 0px;
        line-height: 5vh;
        text-align: center;
    }
    .footer1 p{
        padding-top: 15px;
        font-size: 15px;
        font-family: 'Poppins',sans-serif;
    }

    .column2 {
        float: left;
        width: 25%;
        margin-bottom: 16px;
        padding: 0 8px;
        padding-left: 250px;
        margin-top: 15px;
    }

    @media screen and (max-width:650px) {
        .column2 {
            width: 100%;
            display: block;
        }
    }

    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    }

    .container2 {
        padding: 0 16px;
        text-align: right;
    }

    .container2::after, .row2::after {
        content: "";
        clear: both;
        display: table;
    }

    .center1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .col-3-text {
        width: 30%;
        float: right;
        padding-left: 15px;
    }

    .col-3-img {
       width: 50%;
       float: left;
    } 

    .mydiv {
        height: 470px;
        width: 500px;
        display: flex;
        float: left;
    }

    .myimg {
        border-radius: 50%;
        margin: auto;
        border-color: black;
        height: 300px;
    }

    .mydiv1 {
        height: 400px;
        padding-right: 50px;
        padding-top: 70px;
        text-align: justify;
        float: right;
        width: 60%;
        font-size: 26px;
    }